<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>WebKit 加固</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>开关</string>
			<key>footerText</key>
			<string>修改设置后，点击下方按钮结束 WebKitWebContent 以生效。</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xiaoxuan654.webkitHardening</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>key</key>
			<string>EnableHardening</string>
			<key>label</key>
			<string>启用加固</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xiaoxuan654.webkitHardening</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>key</key>
			<string>DisableJIT</string>
			<key>label</key>
			<string>禁用 JIT</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xiaoxuan654.webkitHardening</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>key</key>
			<string>DisableWebAssembly</string>
			<key>label</key>
			<string>禁用 WebAssembly</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xiaoxuan654.webkitHardening</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>key</key>
			<string>BlockJITMemory</string>
			<key>label</key>
			<string>阻止 JIT 可执行内存</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>生效</string>
			<key>footerText</key>
			<string>结束 WebKitWebContent 后，Safari/所有 WebView 下次使用时会自动拉起新进程。</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>restartWebKitWebContent</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>结束 WebKitWebContent 以生效修改</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>作者 xiaoxuan654</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openGitHub</string>
			<key>label</key>
			<string>xiaoxuan654</string>
		</dict>
	</array>
</dict>
</plist>
